<form class="example-form"
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="onAdd()">
    <mat-form-field class="example-full-width">
        <mat-label>Brand Name</mat-label>
        <input matInput
               placeholder="Ex. Nike"
               formControlName="Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput
               formControlName="Description">
    </mat-form-field>

    <button mat-raised-button
            type="submit"
            color="primary">Add</button>
</form>